{% extends "base.html" %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block content %}
{{ super() }}
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					404 Error Start
			*************************************-->
				<div class="tg-404error tg-sectionspace">
					<div class="container">
						<div class="row">
							<div class="col-xs-offset-0 col-xs-12 col-sm-0ffset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
								<div class="tg-404errorcontent">
									<h2>Ooops! Could Not Find It</h2>
									<h3>404</h3>
								</div>
								<form class="tg-formtheme tg-form404error">
									<fieldset>
										<div class="form-group tg-inputicon">
											<button type="submit"><i class="fa fa-search"></i></button>
											<input type="search" name="search" class="form-control" placeholder="Search Here">
										</div>
										<span>Or Goto <a href="index.html">Homepage</a></span>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			<!--************************************
					404 Error Start
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
{% endblock %}
