		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout tg-footervthree">
			<div class="tg-sectionspace tg-haslayout tg-bgtwitter">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-xs-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
							<div class="tg-twitterpost">
								<i class="fa fa-twitter" style="color:#00ACEE;"></i>
								<a class="twitter-timeline" data-lang="en" data-height="400" data-dnt="true" href="https://twitter.com/euroscipy">Tweets by EuroSciPy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="tg-foorterbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p class="tg-copyrights">2022 All Rights Reserved © EuroSciPy</p>
							<ul class="tg-socialicons">
								<li><a href="{{ TWITTER_FOLLOW_URL }}"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{{ TELEGRAM_URL }}"><i class="fa fa-telegram"></i></a></li>
							</ul>
							<strong class="tg-logo"><a href="index.html"><img src="{{ EVENT[page.section].conference_logo }}" alt="EuroSciPy Bilbao 2020 logo"></a></strong>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
