		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-headervtwo tg-haslayout">
			<div class="container-fluid">
				<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<strong class="tg-logo"><a href="index.html"><img src="{{ EVENT[page.section].conference_logo }}" alt="logo here"></a></strong>
							<nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								{% block menu %}
								{% if page.section %}
								<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
									<ul>
										{% for item in SUBMENU[page.section] %}
										{% if 'url' in item and item.url and item.url in page.url %}
										<li class="current-menu-item">
										{% else %}
										<li>
										{% endif %}
											<a href="{{ item.url | default('') }}">{{ item.name }}</a>
											{% if item.submenu %}
												<ul class="sub-menu">
														{% for subitem in item.submenu %}
														<li><a href="{{ subitem.url }}">{{ subitem.name }}</a></li>
														{% endfor %}
												</ul>
											{% endif %}
										</li>
										{% endfor %}
									</ul>
								</div>
								{% endif %}
								{% endblock %}
							</nav>
						</div>
					</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
