{% extends 'base.html' %}

{% block content %}
		<!--************************************
				Inner Baner Start
		*************************************-->
		<div class="tg-innerbanner tg-haslayout tg-bgparallax">
			<div class="container">
				<div class="tg-innerbannercontent">
					<div class="tg-pagetitle">
						<h1>Price Plans</h1>
					</div>
					<ol class="tg-breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="tg-active">Price Plans</li>
					</ol>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Baner End
		*************************************-->
{% endblock %}
