{% extends 'base.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block content %}
{{ super() }}
{% if page %}
<section class="tg-sectionspace tg-haslayout" id="euroscipy-page">
	<div class="container">
		<div class="row">
			<div class="tg-shortcode tg-aboutusshortcode">
				<div class="col-xs-8 col-sm-8 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 pull-left">
					<p>{{ page.content }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}
