			<!--************************************
					Price Plan Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
							<div class="tg-sectionhead">
								<div class="tg-sectionheading">
									<h2>Best Price Guarantee</h2>
									<h3>Pricing &amp; Registration</h3>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utnaecte laboret dolore magna aliqua enim adiatai minim veniam quista nostrud exercitation ullamco laboris nisi ut aliquip exeation.</p>
								</div>
							</div>
						</div>
						<div class="tg-packages">
							<div class="tg-package tg-basic">
								<div class="tg-packagehead">
									<i class="icon-home"></i>
									<h2>Basic Plan</h2>
								</div>
								<span class="tg-price">
									<sup>$</sup>
									<h3>14</h3>
									<sub>/ Day</sub>
								</span>
								<p class="tg-attendmember">01 member can attend</p>
								<ul class="tg-packageinfo">
									<li>
										<span>01</span>
										<p>Conference Seats Available</p>
									</li>
									<li>
										<span>01</span>
										<p>Workshops Available</p>
									</li>
									<li>
										<span>01</span>
										<p>Breaks Available</p>
									</li>
								</ul>
								<a class="tg-btn" href="#">Select Plan</a>
							</div>
							<div class="tg-package tg-standard">
								<div class="tg-packagehead">
									<span class="tg-badge">best</span>
									<i class="icon-briefcase"></i>
									<h2>Standard Plan</h2>
								</div>
								<span class="tg-price">
									<sup>$</sup>
									<h3>29</h3>
									<sub>/ Day</sub>
								</span>
								<p class="tg-attendmember">02 member can attend</p>
								<ul class="tg-packageinfo">
									<li>
										<span>02</span>
										<p>Conference Seats Available</p>
									</li>
									<li>
										<span>01</span>
										<p>Workshops Available</p>
									</li>
									<li>
										<span>02</span>
										<p>Breaks Available</p>
									</li>
								</ul>
								<a class="tg-btn" href="#">Select Plan</a>
							</div>
							<div class="tg-package tg-premium">
								<div class="tg-packagehead">
									<i class="icon-apartment"></i>
									<h2>Premium Plan</h2>
								</div>
								<span class="tg-price">
									<sup>$</sup>
									<h3>80</h3>
									<sub>/ Day</sub>
								</span>
								<p class="tg-attendmember">03 member can attend</p>
								<ul class="tg-packageinfo">
									<li>
										<span>03</span>
										<p>Conference Seats Available</p>
									</li>
									<li>
										<span>01</span>
										<p>Workshops Available</p>
									</li>
									<li>
										<span>01</span>
										<p>Breaks Available</p>
									</li>
								</ul>
								<a class="tg-btn" href="#">Select Plan</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Price Plan End
			*************************************-->
