{% extends 'base.html' %}

{% block head %}
{{ super() }}
<script src="https://pretalx.com/euroscipy-2023/schedule/widget/v2.en.js"></script>
<script>
    window.onload = function() {
        let body_style = document.body.style
        body_style['max-width'] = '98%';
        body_style['padding-right'] = '1%';
        body_style['margin-right'] = '1%';
        body_style['overflow-x'] = 'scroll';
        document.getElementById('tg-header').style.width = '104%';
        document.getElementById['tg-foorterbar'].style.width = '104%';
    }
</script>
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block content %}
{{ super() }}

<section>
{{ page.content }}
</section>
{% endblock %}
