	<!--************************************
			Cookie Popup Start
	*************************************-->
	<div class="tg-alert alert alert-success">
			<i class="icon-star"></i>
		<span class="tg-alertcontent"><strong>Info Message:</strong> By continuing to use the site, you agree to the use of cookies. more information
			<a class="tg-btn" href="#">Accept</a>
			<a href="#" class="close" data-dismiss="alert">×</a>
		</span>
	</div>
	<!--************************************
			Cookie Popup End
	*************************************-->
