			<!--************************************
					FAQs Start
			*************************************-->
			<section class="tg-haslayout tg-bgparallax tg-bgfaqs">
					<div class="container">
						<div class="row">
							<div class="tg-askquestions">
								<div class="col-xs-16 col-sm-16 col-md-8 col-lg-8">
									<div class="tg-commonquestions">
										<figure class="tg-signupimg">
											<img src="images/img-03.jpg" alt="image description">
											<figcaption>
												<div class="tg-signupcontent">
													<h2>Most Common Questions</h2>
													<h3>More Than 100 Listed</h3>
												</div>
											</figcaption>
										</figure>
										<form class="tg-formtheme tg-fomrsearch">
											<fieldset>
												<div class="form-group tg-inputicon">
													<button type="submit"><i class="fa fa-search"></i></button>
													<input type="search" name="search" class="form-control" placeholder="Search Here">
												</div>
											</fieldset>
										</form>
										<div id="tg-themescroll" class="tg-themeaccordian tg-themescrollbar">
											<div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
												<div class="tg-panel">
													<h4><span>Q.</span>Consectetur adipisicing elit, sed do eiusmod?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Nisi ut aliquip ex ea commodo consequat?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Tempor incididunt ut labore?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Dolore magna aliqua enim ad minim?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Veniam quis nostrud exercitation ullamco laboris?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Consectetur adipisicing elit, sed do eiusmod?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Nisi ut aliquip ex ea commodo consequat?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Tempor incididunt ut labore?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Dolore magna aliqua enim ad minim?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Veniam quis nostrud exercitation ullamco laboris?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Tempor incididunt ut labore?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Dolore magna aliqua enim ad minim?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
												<div class="tg-panel">
													<h4><span>Q.</span>Veniam quis nostrud exercitation ullamco laboris?</h4>
													<div class="tg-panelcontent">
														<div class="tg-description">
															<p><span>A.</span>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute irure dolor.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--************************************
						FAQs End
				*************************************-->
