{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<div class="content">
    <h2>{{this.title}}</h2>

    <ol class="content-list">
        {% for child in this.children %}
        <li>
            <a href="{{ child|url }}" class="content-list--entry">
                <h3 class="pub-date">{{ (child.pub_date|dateformat('medium')) }}</h3>
                <h4 class="title">{{ child.title }}</h4>
            </a>
        </li>
        {% endfor %}
    </ol>
</div>

{% endblock %}
