{% extends "layout.html" %}

{% block title %}
{{ this.title }}
{% endblock %}

{% block body %}

<div class="content">
    <div class="talk-details">
        {{ this.day }} {{ this.start_time }}
        {% if this.room %}
        in {{ this.room}}
        {% endif %}
    </div>

    <h2>{{ this.title }}</h2>
    <h3>{{ this.speaker_names }}</h3>

    <div class="description">
        {{ this.full_description }}
    </div>

    <div class="authors">
        {{ this.speakers }}
    </div>

    <div class="social-card-image">
        <img src="{{this.social_card_image|url}}" alt="">
    </div>
</div>

{% endblock %}
