/* variables */
:root {
    /* hamburger menu */
    --bar-width: 42px;
    --bar-height: 2px;
    --hamburger-gap: 6px;
    --hamburger-margin: 1rem;
    --animation-timing: 433ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

    /* colors */
    --background-color: #3122C7;
    --foreground-color: #d2d2d2;
    --highlight-color: #ff5366;
    --shadow-color: #31126F;
}

/* resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    display: block;
    color: canvastext;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

nav ul,
nav ol {
    list-style: none;
    margin-left: 0;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* typography */
body {
    font-family: 'Helvetica Neue', 'IBM Plex Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

h1,
h2,
h3,
h4 {
    color: white;
}

a {
    color: white;
    font-weight: bold;
    text-decoration-thickness: 3px;
}

/* main navigation */
.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    /* height * sqrt(2) = length of the diagonal, since it is a right angle */
    --foreground: white;
    --background: white;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: 2rem;
    left: var(--hamburger-margin);
    z-index: 1000;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    transform-origin: left center;
    transition: opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu::before,
.hamburger-menu::after {
    color: var(--foreground);
    background-color: var(--background);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.sidebar {
    position: absolute;
    padding-top: calc(var(--hamburger-height) * 4);
    background-color: black;
    color: white;
    translate: 0 -100%;
    opacity: 0;
    transition: translate var(--animation-timing), opacity var(--animation-timing);
    min-height: 100vh;
    width: 100%;
    padding-left: var(--hamburger-margin);
    z-index: 999;
    font-size: 3em;
    overscroll-behavior: contain;
    overflow: hidden;
}

.hamburger-menu:has(input:checked)+.sidebar {
    translate: 0;
    opacity: 1;
}

.navigation-link a:hover {
    color: var(--background-color);
}


/* Layout */

ul,
ol {
    margin: 1em;
}

ol {
    margin-left: 1.5em;
}

h1,
h2,
h3,
h4 {
    margin: 0.3em 0;
}

p {
    margin: 1rem 0;
}

p strong {
    color: white;
}

.content {
    margin: 0 auto;
    padding: 8rem 1rem 0 1rem;
}

.content .hero {
    font-size: 1.4em;
    padding: 0 0 8rem 0;
}

.content-list {
    list-style-type: none;
    margin: 0;
}

.content-list--entry {
    margin-bottom: 0.4em;
    padding: 0.4em;
    background-color: white;
    box-shadow: 10px 12px 0 var(--highlight-color);
}

.content-list--entry:hover {
    background-color: var(--highlight-color);
    box-shadow: 10px 12px var(--shadow-color);
}

a.content-list--entry {
    display: block;
    text-decoration: none;
}

.content-list--entry h3,
.content-list--entry h4,
.content-list--entry {
    color: var(--highlight-color);
}

.content-list--entry:hover h3,
.content-list--entry:hover h4,
.content-list--entry:hover {
    color: white;
}

.content-list--entry h3,
.content-list--entry h4 {
    text-transform: uppercase;
}


.hero {
    display: grid;
    grid-gap: 4rem;
    align-items: center;
    color: white;
}

.date,
.location {
    font-weight: 200;
    font-size: .9em;
}

.hero .cta {
    margin-top: 2rem;
}

.cta a {
    background-color: var(--highlight-color);
    text-decoration: none;
    padding: .3em;
    transition: color var(--animation-timing), background-color var(--animation-timing);
}

.cta a:hover {
    background-color: white;
    color: var(--highlight-color);
}

.cta.submit-abstract {
    margin-top: 5rem;
    font-size: 2rem;
}

.cta-details {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 0 5rem 0;
}

.hero .intro {
    order: 1;
}

.hero .visuals {
    background-image: url("euroscipy.webp");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    order: 0;
    height: 18rem;
}

.hero ul,
.footer ul,
.stats ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stats {
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-weight: 200;
}

.stats ul {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
}

.stats li {
    padding: .4em;
    text-align: center;
}

.stats strong {
    display: block;
    font-size: 4em;
    font-weight: bold;
}

.stats ul li:nth-child(odd) {
    color: var(--highlight-color);
    background-color: var(--foreground-color);
}

.stats ul li:nth-child(even) {
    color: var(--foreground-color);
    background-color: var(--highlight-color);
}

.content.footer {
    padding-bottom: 5rem;
    display: grid;
}

.footer .legal-links {
    margin-bottom: 1rem;
}

@media screen and (min-width: 640px) {
    body {
        font-size: 2.4vw;
    }

    h1,
    h2 {
        font-size: 4.8vw;
    }

    h3 {
        font-size: 3.2vw;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer .contact {
        text-align: right;
    }

    .hero {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .hero .visuals {
        height: 100%;
        background-position: center right;
        background-size: contain;
        order: 2;
        padding: 15rem;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 1.8vw;
    }

    h1 {
        font-size: 4.4vw;
    }

    h2 {
        font-size: 3.4vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    .navigation-link {
        font-size: 4.4rem;
    }

    .content {
        padding: 8rem 6rem 0 6rem;
    }

    :root {
        --hamburger-margin: 6rem;
    }
}


/* Subsites */
.cfp h4 {
    background-color: white;
    color: var(--background-color);
    padding: 0.2em;
}

/* Blog Posts */
.blog-posts {
    list-style-type: none;
    margin: 0;
}

.blog-posts li {
    margin-bottom: 0.4em;
    padding: 0.4em;
    background-color: white;
}

.blog-posts li:hover {
    background-color: var(--highlight-color);
}

.blog-posts a.blog-post {
    display: block;
    text-decoration: none;
}

.pub-date {
    font-weight: 200;
    font-size: 1em;
}

.subsite ol li:first-line {
    font-weight: bold;
    color: white;
}

/* Tickets */
.pretix-widget {
    background-color: black;
}

.pretix-widget .pretix-widget-pricebox-currency,
.pretix-widget .pretix-widget-pricebox {
    font-weight: bold;
    color: white;
    text-align: left;
}

.pretix-widget div.pretix-widget-item-availability-col {
    text-align: right;
}

.pretix-widget h3.pretix-widget-category-name {
    font-size: 2em;
    margin-top: 1em;
}

.pretix-widget a,
.pretix-widget .pretix-widget-item-title,
.pretix-widget .pretix-widget-collapse-indicator,
.pretix-widget .pretix-widget-attribution a {
    color: var(--highlight-color);
}

.pretix-widget a:hover,
.pretix-widget .pretix-widget-item-title:hover,
.pretix-widget .pretix-widget-collapse-indicator:hover,
.pretix-widget .pretix-widget-attribution a:hover {
    color: white;
}

.pretix-widget .pretix-widget-action button {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    font-weight: bold;
    font-size: 1em;
}

.pretix-widget .pretix-widget-action button:hover {
    color: var(--highlight-color);
    background-color: white;
    border-color: white;
}

/* Sponsors */
.sponsors {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.sponsor-type-name {
    padding-bottom: 1em;
}

.sponsor-logo {
    width: 100%;
    max-width: 640px;
}

.sponsor {
    margin-bottom: 4em;
}

@media screen and (min-width: 640px) {
    .sponsor {
        flex-basis: 33.33%;
    }
}

/* Talks */
.social-card-image {
    border-bottom: 8px dashed rgba(255, 255, 255, 0.5);
    border-top: 8px dashed rgba(255, 255, 255, 0.5);
    margin: 4em 0;
    padding: 2em 0;
    max-width: 1200px;
}

.talk-details {
    font-weight: 200;
}

/* Team */
.team-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4em;
}

.team-member {
    border: 2px;
    border-radius: 5px;
    padding: 2em;
}

.team-member-item {
    border: 2px;
    border-radius: 5px;
}

.map {
    text-align: center;
    border: 0;
    padding: 1em;
}

.map>iframe {
    width: 70%;
    height: 300px;
}
